# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.kiro
.eslintcache

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# Ignore ALL Terraform working directories & files in any subfolder
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/.terraform.lock.hcl
**/output/
*.tfvars
!*.tfvars.example

# Ignore ALL Mailu env
**/mailu.env

# Ignore OpenNext build output
.open-next
